.welcome{
    height:60px;
    width:100%;
    border:1px solid blue;
}
.title{
    text-align:center;
    color:crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    background-color:palegreen;
}
.navsection{
    height:80px;
    width:100%;
    background-color:blueviolet;
    text-align:center;
    border:1px solid green;
}
.navbar{
    height:fit-content;
    width:fit-content;
    padding:5px;
    margin:10px auto 5px 480px;
    /* border:1px solid yellow; */
}
a{
    padding-right:30px;
    font-size:30px;
}
.content{
    height:98%;
    width:99%;
    background-color: chartreuse;
}
.details{
    height:60vh;
    width:fit-content;
    padding:5px;
    border:1px solid blue;
    margin:0px auto auto 400px;
    background-color: cadetblue;
}
table{
    border-collapse: collapse;
}
table,tr,td{
    border:2px solid red;
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}